# Exploratory Data Analysis (EDA) for concrete data in the technical test for Data Scientist

To run all the notebooks in this technical test, the following procedures must be followed.
1. Create a virtual environment within the project folder:
> python -m venv .venv

2. Activate the virtual environment that was just created:
> .venv\Scripts\activate

3. Install all the dependencies/libraries required for this project:
> pip install -r requirements.txt

In [3]:
import pandas as pd
from ydata_profiling import ProfileReport

from config.config_file import PATH_CONCRETE_DATA_FILE, PATH_CONCRETE_DATA_IMPUTED_SCALED

c:\dev\prueba-tecnica-ds-argos\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Creation of raw dataframe using the delivered data

In [4]:
df = pd.read_excel(PATH_CONCRETE_DATA_FILE, engine='xlrd')
df

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

#### Determination of the data type for each feature (column)

In [5]:
df.dtypes

cement_kg                   float64
scm1_kg                     float64
scm2_kg                     float64
water_kg                    float64
additive_kg                 float64
aggregate_coarse_kg         float64
aggregate_fine_kg           float64
age_days                      int64
compressive_strength_mpa    float64
dtype: object

Since all the columns contain numerical data (either integers or floats) there is no need to use label encoding to convert the string values into numbers.

Considering that the exercise requires to fit a model to predict the concrete compressive strength at 7 and 28 days, the data (rows in the df) that have strength values for age different to the days required are not necessary; and the data set will be separated into two different sets (i.e. Age=7 and Age=28) that will be used to train and test their respective models.

### Statistical analysis of the dataset

The following method allows us to generate descriptive statistics that includethe central tendency, dispersion, and shape of the data set

In [6]:
df.describe()

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

The isna method allows us to find if any of the columns have a Null value (also known as NaN, "Not a Number").
If the dataset contains null data there are 2 options available:
1. Delete the row that contains the null for any column. To do this is important to consider that deleting the null rows may affect the total amount of data used to train and test the model, and the more data available, the better.
2. Replace the missing values by the mean, the median, or the most frequent value using an imputer (SimpleImputer, KNNImputer, IterativeImputer...), available within the scikitlearn library.

In [7]:
df.isna().any()

cement_kg                   False
scm1_kg                     False
scm2_kg                     False
water_kg                    False
additive_kg                 False
aggregate_coarse_kg         False
aggregate_fine_kg           False
age_days                    False
compressive_strength_mpa    False
dtype: bool

Since none of the columns contain null or missing values, there is no need to impute the dataset

### Separation of the datasets

In [8]:
df_7_days = df.query('age_days == 7')
df_7_days

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
29,475.0,0.0,0.0,228.0,0.0,932.0,594.0,7,38.603761
45,427.5,47.5,0.0,228.0,0.0,932.0,594.0,7,35.076402
48,237.5,237.5,0.0,228.0,0.0,932.0,594.0,7,26.258004
49,380.0,95.0,0.0,228.0,0.0,932.0,594.0,7,32.823194
54,139.6,209.4,0.0,192.0,0.0,1047.0,806.9,7,14.589312
...,...,...,...,...,...,...,...,...,...
806,382.0,0.0,0.0,185.0,0.0,1047.0,739.0,7,24.000660
808,252.0,0.0,0.0,186.0,0.0,1111.0,784.0,7,11.465986
810,310.0,0.0,0.0,192.0,0.0,970.0,850.0,7,14.989208
816,525.0,0.0,0.0,189.0,0.0,1125.0,613.0,7,42.423458
827,522.0,0.0,0.0,146.0,0.0,896.0,896.0,7,50.511012

In [9]:
df_28_days = df.query('age_days == 28')
df_28_days

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.447770
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.854291
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.289790
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

#### Scaling the datasets
Scaling a dataset is often necessary in machine learning because many algorithms are sensitive to the range and distribution of input features.
The scaling is important because:
1. Algorithms Assume Equal Weight <br>
Some models assume all features contribute equally and are on similar scales. If one feature has values in the thousands and another in decimals, the large-scale feature will dominate.
2. Improves Convergence Speed

Importing the method necessary for scaling the datasets

In [10]:
from sklearn.preprocessing import StandardScaler

sd_scaler = StandardScaler()

____
##### Scaling for age-7 dataset

In [11]:
age_7_days_scaled = sd_scaler.fit_transform(df_7_days)

Dataframe for age = 7 scaled

In [12]:
df_7_days_scaled = pd.DataFrame(age_7_days_scaled, columns=df_7_days.columns)
df_7_days_scaled

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
0,1.554254,-0.930189,-0.344479,2.392899,-0.561856,-0.639401,-2.137353,0.0,0.864233
1,1.098746,-0.454804,-0.344479,2.392899,-0.561856,-0.639401,-2.137353,0.0,0.621388
2,-0.723288,1.446734,-0.344479,2.392899,-0.561856,-0.639401,-2.137353,0.0,0.014277
3,0.643237,0.020580,-0.344479,2.392899,-0.561856,-0.639401,-2.137353,0.0,0.466264
4,-1.662115,1.165506,-0.344479,0.466279,-0.561856,0.779727,0.476284,0.0,-0.789065
...,...,...,...,...,...,...,...,...,...
121,0.662417,-0.930189,-0.344479,0.091659,-0.561856,0.779727,-0.357281,0.0,-0.141132
122,-0.584238,-0.930189,-0.344479,0.145176,-0.561856,1.569503,0.195155,0.0,-1.004093
123,-0.028038,-0.930189,-0.344479,0.466279,-0.561856,-0.170472,1.005395,0.0,-0.761534
124,2.033737,-0.930189,-0.344479,0.305728,-0.561856,1.742266,-1.904102,0.0,1.127203
125,2.004968,-0.930189,-0.344479,-1.995512,-0.561856,-1.083650,1.570107,0.0,1.683999

Once the scaled dataframe is built, it is necessary to evaluate if there are duplicated row, which need to be droped.

In [13]:
df_7_days_scaled.duplicated().sum()

np.int64(4)

This indicates that the scaled dataset for age = 7 has 4 duplicated rows<br>
Next, those duplicated rows are dropped

In [14]:
df_7_days_scaled = df_7_days_scaled.drop_duplicates()

In [15]:
df_7_days_scaled.describe()

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
count,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.0,122.000000
mean,-0.025429,-0.017951,0.011294,0.042265,-0.050567,0.034558,-0.021472,0.0,-0.059812
std,1.008874,1.012633,1.018465,0.990713,0.977579,0.996293,1.002600,0.0,0.962260
min,-2.022686,-0.930189,-0.344479,-3.033746,-0.561856,-1.996828,-2.137353,0.0,-1.276652
25%,-0.737672,-0.930189,-0.344479,-0.121072,-0.561856,-0.589423,-0.633192,0.0,-0.794524
50%,-0.012215,-0.679987,-0.344479,0.129121,-0.561856,-0.159365,-0.013543,0.0,-0.336034
75%,0.666013,0.831236,-0.344479,0.466279,0.026707,0.787131,0.486412,0.0,0.622670
max,2.177581,2.666720,3.497338,2.392899,4.260468,1.857030,2.756003,0.0,2.274971

In [24]:
df_7_days_scaled.to_csv('data/concrete_7_days_scaled.csv', sep=',')

##### Scaling for age-28 dataset

In [17]:
age_28_days_scaled = sd_scaler.fit_transform(df_28_days)

Dataframe for age = 28 scaled

In [18]:
df_28_days_scaled = pd.DataFrame(age_28_days_scaled, columns=df_28_days.columns)
df_28_days_scaled

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
0,2.626147,-0.983607,-0.949284,-1.090769,-0.834540,1.002843,-1.210075,0.0,2.942558
1,2.626147,-0.983607,-0.949284,-1.090769,-0.834540,1.182048,-1.210075,0.0,1.710839
2,1.095739,0.099347,-0.949284,2.327744,-1.298730,-0.287435,-2.332840,0.0,-0.020465
3,0.005324,0.315937,-0.949284,2.327744,-1.298730,-0.287435,-1.292229,0.0,0.619700
4,2.004419,-0.983607,-0.949284,2.327744,-1.298730,-0.287435,-2.332840,0.0,0.172950
...,...,...,...,...,...,...,...,...,...
420,0.104801,0.338737,0.415805,-0.179165,0.353786,-1.026955,0.053720,0.0,0.512858
421,0.542880,-0.983607,0.798271,0.670283,0.632300,-1.650590,0.671240,0.0,-0.379048
422,-1.118569,0.605485,0.692450,0.499358,-0.166107,-0.760537,0.213919,0.0,-0.888252
423,-1.017180,1.144682,-0.949284,-0.386348,0.799408,0.400713,0.335780,0.0,-0.270891
424,-0.043458,0.162044,0.234397,0.908543,0.298083,-1.093859,-0.039388,0.0,-0.295854

Evaluation of duplicates

In [19]:
df_28_days_scaled.duplicated().sum()

np.int64(6)

In [20]:
df_28_days_scaled = df_28_days_scaled.drop_duplicates()

In [21]:
df_28_days_scaled.describe()

,cement_kg,scm1_kg,scm2_kg,water_kg,additive_kg,aggregate_coarse_kg,aggregate_fine_kg,age_days,compressive_strength_mpa
count,419.000000,419.000000,419.000000,419.000000,419.000000,419.000000,419.000000,419.0,419.000000
mean,-0.013632,-0.007125,0.013594,0.013802,-0.011447,0.002482,-0.007821,0.0,-0.021714
std,0.999589,1.002144,1.001811,0.999483,0.996207,1.000515,1.001451,0.0,0.980349
min,-1.563344,-0.983607,-0.949284,-3.175544,-1.298730,-1.852494,-2.332840,0.0,-1.920034
25%,-1.008571,-0.983607,-0.949284,-0.583171,-1.298730,-0.875228,-0.717154,0.0,-0.716937
50%,-0.052066,0.080765,0.193581,0.100531,0.143972,-0.031769,0.067412,0.0,-0.205481
75%,0.540967,0.816376,0.874991,0.530435,0.576597,0.689234,0.628110,0.0,0.507508
max,2.626147,3.113379,2.075679,3.311861,4.680035,2.257280,3.124893,0.0,3.062680

In [25]:
df_28_days_scaled.to_csv('data/concrete_28_days_scaled.csv', sep=',')

------------------------------

#### Statistics and visualization of features
To analyze and visualizate the behavior of each feature in the datasets, I will be using a package (library) called **YData Profiling**.
YData Profiling automates and standardizes the generation of detailed reports, complete with statistics and visualization, which are crucial during the exploratory data analysis.
The report includes general and detailed statistics, insights for the dataset in general and for each of the features individually.<br>
The reports are presented in the following html files. It is recommended to open such file in the browser.<br><br>
EDA concrete 7 days file: **utils/conconcrete_7_days_scaled_report.html**<br>
EDA concrete 28 days file: **utils/conconcrete_28_days_scaled_report.html**

In [27]:
profile_7_days = ProfileReport(df_7_days_scaled, title='Profiling Report 7 days')
profile_7_days.to_file('utils/concrete_7_days_scaled_report.html')

c:\dev\prueba-tecnica-ds-argos\.venv\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<?, ?it/s]/14 [00:00<00:00, 131.70it/s, Describe variable: compressive_strength_mpa]
Summarize dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 82/82 [00:03<00:00, 21.25it/s, Completed]
Generate report structure: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:01<00:00,  1.56s/it]
Render HTML: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  1.75it/s]
Export report to file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 91.39it/s]

In [28]:
profile_28_days = ProfileReport(df_28_days_scaled, title='Profiling Report 28 days')
profile_28_days.to_file('utils/concrete_28_days_scaled_report.html')

c:\dev\prueba-tecnica-ds-argos\.venv\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<?, ?it/s]/14 [00:00<00:00, 62.42it/s, Describe variable: compressive_strength_mpa]
Summarize dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 82/82 [00:04<00:00, 19.84it/s, Completed]
Generate report structure: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:01<00:00,  1.35s/it]
Render HTML: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  1.02it/s]
Export report to file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 64.94it/s]

The profiling report allows to see an statistical overview:
<br>
![statistical-overview](../documentation/statistical-overview.png)

alerts:
<br>
![correlation-alert](../documentation/correlation-alerts.png)

statistic for each column:
<br>
![column-statistics](../documentation/column-statistics.png)

interaction between all the features:
<br>
![interactions](../documentation/interactions.png)

and also a heatmap of correlations:
<br>
![correlations](../documentation/correlations.png)